@model PhotoWEB.Models.DBmodels.ViewsModels.PhotoViewModel;
@{
    ViewData["Title"] = "Photos";
    Layout = "_Layout";
}

<head>
    <title>Photo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/userpage.css" type="text/css" rel="stylesheet">
    <link href="~/css/PhotoView.css" type="text/css" rel="stylesheet"/>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <img class="img_full" src="@Url.Action("GetImage", "UserPage", new { id = Model.PhotoID })">
            </div>
            <div class="col-lg-3">
                <p class="button_area">
                    <button onclick="window.location.href = '@Url.Action("Delete",new { Model.PhotoID})';">Delete</button>
                    <button onclick="window.location.href = '@Url.Action("Update",new { Model.PhotoID})';">Update</button>
                </p>
                @if (Model.GUID == null || Model.GUID == "")
                {
                    <p class="button_area">
                        <button onclick="window.location.href = '@Url.Action("SetGUID", new { Model.PhotoID })';">Share</button>
                    </p>
                }
                else
                {
                    <p class="button_area">
                        <input type="text" readonly="readonly" style="width: 400px" value="@Context.Request.Host/GUID/SPhoto?Guid=@Model.GUID"/>
                    </p>
                }
                    <div class="comment_box">

                        @foreach (var t in Model.Comments)
                        {

                            <div class="comment_area">
                                <p>
                                    <h4>
                                        <strong>
                                            @t.name
                                        </strong>
                                    </h4>
                                </p>
                                <p>
                                    @t.Comment
                                </p>
                            </div>
                        }
                    </div>
                
                    <div>
                        <h4><p>Write a comment</p></h4>
                        <form method="post" action="PhotoView/CommitComment">
                            <input type="hidden" name="PhotoID" value="@Model.PhotoID" />
                            <p>
                                <textarea type="text" name="user_comment" style="resize: none;"> </textarea>
                            </p>
                            <p>
                                <button onclick="window.location.href = '@Url.Action("CommitComment", new { Model.PhotoID })';">Load</button>
                            </p>
                        </form>
                    </div>
                
            </div>
        </div>
    </div>

</body>