@model PhotoWEB.Models.ViewsModels.UserPageModel
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<html>
<head>
    <title>userpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/userpage.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div id="mainframe" class="col-lg-10">
                <p>
                    <h2>
                        @Model.FirstName @Model.SecondName @Model.ThirdName
                    </h2>
                </p>
                <div class="row">
                    <p>
                        <div class="col-lg-1">

                        </div>
                        <div class="col-lg-10 h4">
                            @Model.Description
                        </div>
                        <div class="col-lg-1">

                        </div>
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                        <div id="photos" class="col-lg-10">
                            <table>
                                <tr>
                                    @if (Model.OpenImages != null)
                                    {
                                        @foreach (int n in Model.OpenImages)
                                        {
                                            <td>
                                                <img class="img_icon" src="@Url.Action("GetImage", "UserPage", new { id = n })">
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            <img class="img_icon">
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                        <div id="albums" class="col-lg-10">
                            <table>
                                <tr>
                                    @if (Model.OpenAlbumsAVAS.Count>0)
                                    {
                                        @foreach (int n in Model.OpenAlbumsAVAS)
                                        {
                                            <td>
                                                <img class="img_icon" src="@Url.Action("GetImage", "UserPage", new { id = n })">
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            <img class="img_icon">
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @if (Model.OpenAlbumsNames.Count > 0)
                                    {
                                    @foreach (string n in Model.OpenAlbumsNames)
                                    {
                                        <td>
                                           @n
                                        </td>
                                    }
                                    }

                                </tr>
                            </table>
                        </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
   

</body>
</html>